<form>
    <div *ngFor="let control of controls();let ix=index;">
        <div *ngIf="checkTypeAndValue(control)">


            <div *ngIf="!isObjectValue(control)">
                <div class="form-group">

                    <div *ngIf="control.$meta.$attributes.macro">
                        <label for={{control.$meta.$desc.cn}}{{ix}}>{{control.$meta.$desc.cn}}</label>
                        <input type="text" class="form-control" disabled value={{control.$meta.$value}} id={{control.$meta.$desc.cn}}{{ix}} name={{control.$meta.$desc.cn}}{{ix}}>
                    </div>
                    <div *ngIf="!control.$meta.$attributes.macro">
                        <div *ngIf="control.$meta.$attributes.unit && control.$meta.$attributes.unit.value">
                            <label for={{control.$meta.$desc.cn}}{{ix}}>{{control.$meta.$desc.cn}}</label>
                            <div class="input-group">
                                <span *ngIf="control.$meta.$attributes.unit.category == 'currency'" class="input-group-addon addon-left input-group-addon-success">¥</span>
                                <input type="text" class="form-control with-primary-addon" [(ngModel)]="control.$meta.$value" id={{control.$meta.$desc.cn}}{{ix}} name={{control.$meta.$desc.cn}}{{ix}}>
                                <span class="input-group-addon addon-right input-group-addon-primary">{{control.$meta.$attributes.unit.value}}</span>
                            </div>
                        </div>
                        <div *ngIf="!control.$meta.$attributes.unit || !control.$meta.$attributes.unit.value">
                            <label for={{control.$meta.$desc.cn}}{{ix}}>{{control.$meta.$desc.cn}}</label>
                            <input type="text" class="form-control" [(ngModel)]="control.$meta.$value" id={{control.$meta.$desc.cn}}{{ix}} name={{control.$meta.$desc.cn}}{{ix}}>

                        </div>

                    </div>


                </div>
            </div>





        </div>

    </div>

</form>